<h1>Seu Carrinho</h1>

<% if @cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Total</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>Seu carrinho está vazio.</p>
<% end %>

<%= link_to 'Continuar Comprando', root_path %>

<%= link_to 'Finalizar Compra', root_path %>

<% @cart_items.each do |i| %>

<% end %>