<section class="product-index">
  <h2>Product List</h2>

  <% @products.each do |p| %>
    <div class="card">
      <p><%= link_to p.name, product_path(p.id) %></p>
      <p>R$ <%= number_with_precision(p.price, precision: 2) %></p>
      <%# <%= button_to 'Add to Cart', add_to_cart, class: 'btn-action' %>
      <%= button_to 'Add to Cart', class: 'btn-action-func' %>
    </div>
  <% end %>

  <% if @products.empty? %>
    <p>Nenhum produto cadastrado</p>
  <% end %>
</section>